.align-items-flex-start {
    @include align-items(flex-start);
}

.align-items-flex-end {
    @include align-items(flex-end);
}

.align-items-center {
    @include align-items(center);
}

.align-items-baseline {
    @include align-items(baseline);
}

.align-items-stretch {
    @include align-items(stretch);
}
