.justify-content-flex-start {
    @include justify-content-flex-start();
}

.justify-content-flex-end {
    @include justify-content-flex-end();
}

.justify-content-center {
    @include justify-content-center();
}

.justify-content-space-between {
    @include justify-content-space-between();
}

.justify-content-space-around {
    @include justify-content-space-around();
}
